.onepage {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: #fff;
}

.msg-box {
  padding: 10px 10px 10px 25px;
}

.msg-box .brand {
  width: 90px;
  height: 25px;
  overflow: hidden;
}

.msg-box .brand img {
  width: 100%;
}

.msg-box .msg-list {
  margin-top: 10px;
}

.msg-box .photo-box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.msg-box .photo-box img {
  width: 100%;
}

.msg-box dl {
  margin: 0;
  padding: 0;
}

.msg-box dl h2, .msg-box dl p {
  margin: 5px 0 0 0;
}

.msg-box dl dd {
  margin-left: 95px;
}

.main {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.annouce-wrapper {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  justify-content: flex-start;
  padding: 10px 15px;
  background: #e1e1e1;
  font-size: 15px;
}

.annouce-wrapper span {
  margin: 1px 0 0 5px;
}

.annouce-wrapper .annouce {
  margin: 0;
  padding: 0;
  width: 70%;
  height: 20px;
  overflow: hidden;
  text-align: center;
  list-style: none;
}

.overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.overlay .modal {
  margin: 10% 15px 0;
  padding: 10% 5%;
  text-align: center;
  border-radius: 15px;
  background: #fff;
  z-index: 9;
}

.overlay .modal .close {
  position: absolute;
  right: 30px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.overlay .modal h2 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
}

.overlay .modal ul {
  padding: 0;
  list-style-type: none;
}

.menu {
  width: 100%;
  height: 100%;
}

.menu ul {
  margin: 0;
  padding: 0;
  height: calc(100% - 301px);
  list-style-type: none;
}

.menu ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33%;
  height: 50%;
  float: left;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-right: none;
  box-sizing: border-box;
  text-align: center;
  flex-direction: column;
}

.menu a {
  display: block;
  width: 100%;
}

.menu a svg {
  font-size: 30px;
}

.menu a span {
  display: block;
  margin-top: 3px;
}

.swiper-container {
  z-index: 1000;
  top: 0;
  position: absolute;
  max-width: 640px;
  min-width: 320px;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  background-size: cover;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
}

.logo {
  position: relative;
  z-index: 10001;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
}

nav {
  z-index: 10001;
  position: absolute;
  bottom: 40px;
  padding: 0 10px;
  width: 100%;
}

nav .nav-item {
  display: block;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

nav .nav-item.blue {
  background-color: rgba(86, 119, 183, 0.9);
}

nav .nav-item.orange {
  background-color: rgba(247, 108, 94, 0.9);
}

nav .nav-item.teal {
  background-color: rgba(15, 163, 177, 0.9);
}

nav .nav-item.yellow {
  background-color: rgba(253, 192, 15, 0.9);
}

nav .nav-item.cyan {
  background-color: rgba(26, 185, 155, 0.9);
}

nav .nav-item.pink {
  background-color: rgba(244, 91, 105, 0.9);
}

nav .nav-item .iconfont {
  display: block;
  padding-bottom: 5px;
  font-size: 24px;
}

@media screen and (max-width: 320px) {
  nav .nav-item {
    font-size: 14px;
  }
}
