.onepage {
  height: 100%;
}

.hotel {
  position: relative;
  min-height: 100%;
  width: 100%;
  background-color: #ececec;
}

.hotel .header-box {
  height: 100px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/hotel-bg.jpg");
}

.hotel .content {
  position: relative;
  left: 0;
  bottom: 0;
  padding: 5px 10px;
  min-height: 100%;
  overflow: auto;
}

.hotel .content h2 {
  margin: 0;
  color: #66a2c7;
}

.hotel .content h2 svg {
  margin-right: 10px;
  font-size: 30px;
}

.hotel .content span {
  display: inline-block;
  vertical-align: text-bottom;
  line-height: 25px;
}

.hotel #map {
  width: 100%;
  height: 200px;
}

.msg-panel {
  margin-top: 5px;
}

.msg-panel .panel-header span {
  margin: 0;
  padding: 0 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #000;
}

.msg-panel .panel-content {
  margin-top: 5px;
}

.msg-panel .panel-content p {
  margin: 0;
}
