.onepage {
  height: 100%;
}

.welcome {
  height: 100%;
  text-align: center;
  overflow: hidden;
  background-size: cover;
  background-image: url("../../images/bg.jpg");
}

.welcome img {
  margin-top: 5%;
  width: 30%;
}

.welcome .title {
  margin-top: 15%;
}

.welcome .title h1 {
  font-size: 30px;
}

.welcome .title h2 {
  font-size: 25px;
}

.welcome .greeting {
  margin: 0 auto;
  width: 70%;
  text-align: left;
}

.welcome span {
  display: inline-block;
  margin-top: 10%;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  background: red;
}

.welcome form {
  margin: 0 auto;
  width: 80%;
  font-size: 20px;
}

.welcome form ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.welcome form li {
  margin-bottom: 10px;
  border-bottom: 1px solid #fff;
}

.welcome form input {
  padding: 5px 10px;
  background: transparent;
  border: none;
}

.welcome form input:focus {
  outline: none;
}

.welcome form button {
  margin-top: 10%;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  background: red;
  border: none;
}
